body {
  font-family: 'Segoe UI';
  font-size: 200%;
  background-color: #444;
  margin: 64px;
  color: #eee;
}

#wrapper {
  width: 832px;
  margin: auto;
}

#wrapper h1 {
  text-align: center;
}

div.card {
  width: 176px;
  height: 246px;
  float: left;
  margin-right: 32px;
  font-size: 2em;
}

div.card div {
  position: absolute;
  width: 160px;
  height: 230px;
  line-height: 230px;
  text-align: center;
  background-color: #fff;
  border: 8px solid #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  
  transition: all 1s;
  -webkit-transition: all 1s;
  
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

div.card div span {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0.5em;
  width: auto;
  line-height: 1em;
}

div.card div span:last-child {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

div.card div.back {
  font-size: 0.8em;
  background-color: #93B3E5;
  
  transform: perspective(400px) rotateY(0deg);
  -webkit-transform: perspective(400px) rotateY(0deg);
}

div.card div.front {
  transform: perspective(400px) rotateY(-179.9deg);
  transform: perspective(400px) rotateY(-179.9deg);
}

div.card:hover div.back {
  transform: perspective(400px) rotateY(179.9deg);
  transform: perspective(400px) rotateY(179.9deg);
}

div.card:hover div.front {
  transform: perspective(400px) rotateY(0deg);
  transform: perspective(400px) rotateY(0deg);
}